<ol class="breadcrumb" style="margin-left: -15px;">
  <li><a href="<%= root_path %>">Inicio</a> /  </li>
  <li><a href="<%= cadastrar_path %>">Cadastrar</a> / </li>
  <li class="active">Cliente</li>
</ol>
<h2>Novo Cliente</h2>
<br>
<%= render 'form' %>
