<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_funcionario.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_funcionario_path(@tipo_funcionario) %> |
<%= link_to 'Back', tipo_funcionarios_path %>
