<div class="row" style="margin-left: 30px">
<div class="span2">
<%= link_to new_cliente_path do %>
    <div class="novoclientesbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to new_produto_path do %>
	<div class="novoprodutosbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to new_tipo_produto_path do %>
	<div class="novocategoriasbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to new_funcionario_registration_path do %>
	<div class="novofuncionariosbutton"></div>
<% end %>
</div>