<div class="row" style="margin-left: 30px">
<div class="span2">
<%= link_to clientes_path do %>
    <div class="clientesbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to produtos_path do %>
	<div class="produtosbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to tipo_produtos_path do %>
	<div class="categoriasbutton"></div>
<% end %>
</div>
<div class="span2">
<%= link_to funcionarios_path do %>
	<div class="funcionariosbutton"></div>
<% end %>
</div>