/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
	
  background-image: url(/images/seta-pra-cima.gif);
}

.pretty th .desc {
  background-image: url(/images/seta-pra-baixo.gif);
}

.leftprojeto{
	float: left;

}

.rightprojeto{
	float:right;

}

.cadastrarbutton{
	margin-left: 10px;
	background: url("botao1.jpg") no-repeat;
	width: 120px;
	height: 120px;
}
.cadastrarbutton:hover{
	background: url("botao1-2.jpg") no-repeat;
}
.consultarbutton{
	margin-top: 10px;
	margin-left: 10px;
	background: url("botao2.jpg") no-repeat;
	width: 120px;
	height: 120px;
}
.consultarbutton:hover{
	background: url("botao2-2.jpg") no-repeat;
}
.relatoriosbutton{
	margin-top: 10px;
	margin-left: 10px;
	background: url("botao3.jpg") no-repeat;
	width: 120px;
	height: 120px;
}
.relatoriosbutton:hover{
	background: url("botao3-2.jpg") no-repeat;
}
.vendasbutton{
	margin-top: 10px;
	margin-left: 10px;
	background: url("botao4.jpg") no-repeat;
	width: 120px;
	height: 120px;
}
.vendasbutton:hover{
	background: url("botao4-2.jpg") no-repeat;
}