<%= simple_form_for(@tipo_produto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :tipo %>
  </div>
    <%= f.button :submit, "Cadastrar tipo_produto", class: "relatoriogerar"%>
<% end %>
