<h1>Listando Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_produtos.each do |tipo_produto| %>
      <tr>
        <td><%= tipo_produto.tipo %></td>
        <td><%= link_to 'Editar', edit_tipo_produto_path(tipo_produto) %></td>
        <td><%= link_to 'Apagar', tipo_produto, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Categoria', new_tipo_produto_path, class: "relatoriogerar"%> 
