<br>
<h2>Efetuar Venda</h2>


  <div class="form-inputs">
  	
	<%= render :partial => "lista"%> 
	<center>
	<%= submit_tag "Adicionar Produto", :name => nil, data: { toggle: "modal", target: "#produto" }, class: "relatoriogerar"%>
  </center>
	<div id="carrinho"><%= render 'carrinho'  %></div>

