<h1>New venda</h1>


  <div class="form-inputs">
  	

	
	<div class ='icon-plus'> 
	<%= render :partial => "lista"%> 
	</div>  

<%= submit_tag "Adicionar Produto", :name => nil, data: { toggle: "modal", target: "#produto" }, class: "btn"%>
  
	<div id="carrinho"><%= render 'carrinho'  %></div>


<%= link_to 'Back', vendas_path %>

<script>

</script>